vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|20 Jan 2010 16:43:48 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|WIDEOPENWEST\\j_read
vti_modifiedby:SR|WIDEOPENWEST\\j_read
vti_timecreated:TR|14 Jan 2010 15:33:28 -0000
vti_backlinkinfo:VX|
vti_cacheddtm:TX|20 Jan 2010 16:43:48 -0000
vti_filesize:IR|995
vti_cachedlinkinfo:VX|S|images/16-security-lock.png
vti_cachedsvcrellinks:VX|FSUS|aspnet_client/system_web/2_0_50727/Themes/WOWMain/images/16-security-lock.png
