.nextButton
{
    background: transparent url(images/button.gif) no-repeat 0 3px;
    border: none;
    width: 93px;
    height: 25px;
    margin-left: 390px;
    font: normal 12px Arial, sans-serif;
    color: #fefefe;
}
.nextButton:hover
{
    background: transparent url(images/button_over.gif) no-repeat 0 3px;
    color: #ffffff;
    font-weight: bold;
}
.box-enabledRule
{
    border: solid 1px #DEDEDE;
    background: #EFEFEF;
    color: #222222;
    padding-left: 2px;
    padding-right: 2px;
    text-align: left;
    font-size: smaller;
}
.box-disabledRule
{
    border: solid 1px #DEDEDE;
    background: #FFFFFF;
    color: #222222;
    padding-left: 2px;
    padding-right: 2px;
    text-align: left;
    font-size: smaller;
}
.box-lead
{
    padding: 2px;
    border-style: none none none solid;
    border-width: 2px 2px 2px 10px;
    padding-left: 4px;
}
.leadSales
{
    background-color: #99CCFF;
}
.leadCS
{
    background-color: #66FF66;
}
.leadMarketing
{
    background-color: #CC00FF;
}
.leadLP
{
    background-color: #FFFF99;
}
.leadCX
{
    background-color: #AA66FF; /*#666699*/
}
.New
{
    border-color: #33CC33;
}
.InProgress
{
    border-color: #FFFF00;
}
.FollowUp
{
    border-color: #FF3300;
}
.Closed
{
    border-color: #000000;
}
.Pending
{
    border-color: #FF3399;
}
